<div>
    <app-nav-bar></app-nav-bar>
</div>

<div class="main-div">
    <input class="task-field" [(ngModel)]="newTask" placeholder="Add task"/>
    <span>
        <button mat-raised-button class="add-task" color="accent" (click)="addTask()">Add Task</button>
    </span>

    <div *ngFor="let task of tasks; let index = index">
        <mat-card style="width: 70%; margin-top: 10px; padding: 5px; background-color: bisque;">
            <mat-card-content style="margin: 0; padding-left: 8px;">{{task}}</mat-card-content>
            <mat-card-actions>
                <button mat-icon-button color="accent" (click)="deleteTask(index)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>