.task-field{
    outline: none;
    border: none;
    border-bottom: 2px solid #263238;
    padding: 5px;
    width: 70%;
    background: transparent;
    outline: none;
}

.material-icons{
    cursor: pointer;
}

.main-div{
    width: 50%;
    margin: 40px auto;
}

.add-task{
    line-height: 30px;
    padding: 2px 10px;
    margin-left: 20px;
}